.month-change{
  font-size: 15px;
}
.month-change:hover {
  text-decoration: underline;
  cursor: pointer;
}
.week:hover{
  text-decoration: underline;
  cursor: pointer;
}

.main-date{
  font-size: 21px;
}
