<div *ngIf="auth.showLoginComponent">
  <router-outlet> </router-outlet>
</div>

<div *ngIf="!auth.showLoginComponent" class="wrapper">
  <nav class="sideMenu">
    <a [routerLink]="['/home']">
      <h2>
        <strong> Control panel </strong>
      </h2>
    </a>
    <div class="wrapper">
      <div class="wrapper-tabs">
        <a [routerLink]="['/home']">
          <div [class.selected]="pageService.homeSelected">
            <i class="fa fa-home"></i> <span> Home </span> </div>
        </a>
      </div>
      <a [routerLink]="['/projects']">
        <div [class.selected]="pageService.projectsSelected">
          <i class="fa fa-file-code-o"></i> <span> Projects </span> </div>
      </a>
      <a [routerLink]="['/tasks']">
        <div [class.selected]="pageService.tasksSelected">
          <i class="fa fa-tasks"></i> <span> Tasks </span> </div>
      </a>
      <a [routerLink]="['/timesheet']">
        <div [class.selected]="pageService.timesheetSelected">
          <i class="fa fa-clock-o"></i> <span> Timesheet </span> </div>
      </a>
      <a [routerLink]="['/calendar']">
        <div [class.selected]="pageService.calendarSelected">
          <i class="fa fa-calendar"></i> <span> Calendar </span> </div>
      </a>
    </div>

    <div *ngIf="auth.user | async as user" class="userInfo">
      <div style="padding-left: 20px">
        <img [src]="user.photoURL" height="64px" width="64px" style="border-radius: 150px">
      </div>
      <div> {{user.displayName}} </div>
      <div style="cursor: pointer;" (click)="auth.signOut()"> Logout </div>
    </div>
  </nav>

  <div class="content" [@fadeAnimation]="getRouterOutletState(o)">
    <router-outlet #o="outlet"></router-outlet>
  </div>
</div>
